body, html {overflow-x:hidden;}
#wrap {/* 페이지전체묶음 */}
#wrap main {
    position:relative;/* nav 부모위치기준 */
}
#wrap main .swiper {}
/* -----------------------------------------메인배너영역 */
#wrap main #mainBnr {
    position:relative;
    /* custom-pagination 부모위치기준 */
}
#wrap main #mainBnr .main_bnr {
    position:relative;/* bnr_text, ad_btn_group의 부모위치기준 */ 
    width:1920px; height:516px;
}
#wrap main #mainBnr .main_bnr .swiper-wrapper {}
#wrap main #mainBnr .main_bnr .swiper-wrapper .swiper-slide {
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide1 {
    background-image:url(../images/main_banner.png);
}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide1 .bnr_text {
    position:absolute; top:102px; left:484px;
}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide1 .bnr_text em {}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide1 .bnr_text > img {
    display:block;
    margin:20px 0 40px 0;
}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide1 .bnr_text h2 {
    font-size:2.375rem; font-weight:700; line-height:1.5;
}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide1 .bnr_text > p {
    font-weight:500; font-size:1.25rem;
    line-height:1.5; letter-spacing:-0.04em;
    margin:5px 0 20px 0;
}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide1 .bnr_text span {}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide2 {background:red;}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide3 {background:yellow;}
#wrap main #mainBnr .main_bnr .ad_btn_group {
    padding:3px 11px; width:110px; height:27px;
    background-color:rgba(0,0,0,0.2);
    border-radius:20px;
    /* width:max-content; */
    display:flex; align-items:center;
    position:absolute; left:484px; bottom:103px;
    z-index:600;
    /* transform:translateY(-100%); */
}
/* 모든 스와이퍼 기본 화살표 숨기기 */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
#wrap main #mainBnr .main_bnr .ad_btn_group .swiper-button-prev {
    background-image:url(../images/icon_prev.png);
    background-repeat:no-repeat;
    background-size:contain;
    /* left:495px; top:392.5px; position:absolute; */
    width:14px; height:14px;
    margin-top:0;/* 기존 내장값 제거 */
}
#wrap main #mainBnr .main_bnr .ad_btn_group .swiper-button-next {
    background-image:url(../images/icon_next.png);
    background-repeat:no-repeat;
    background-size:contain;
    width:14px; height:14px;
    margin-top:0;/* 기존 내장값 제거 */
}
#wrap main #mainBnr .main_bnr .ad_btn_group .pause {
    background-image:url(../images/icon_pause.png);
    background-repeat:no-repeat;
    position:absolute;
    width:50px; height:50px;
    top:50%; left:50%;
    z-index:100; 
}
#wrap main #mainBnr .main_bnr .ad_btn_group .play {
    background-image:url(../images/icon_play.png);
    background-repeat:no-repeat;
    position:absolute;
    width:30px; height:30px; 
    z-index:101;
}
#wrap main #mainBnr .custom-pagination {
    position:absolute; left:514px; bottom:106px; z-index:700;
    /* position:absolute; z-index:900;
    bottom:49px; left:50%; transform:translateX(-50%);
    font-size:0.875rem; background-color:rgba(255,255,255,0.7);
    width:82px; height:31px; border-radius:20px;
    text-align:center; line-height:31px; */
}
#wrap main #mainBnr .custom-pagination * {/* pagination의 모든 글자적용 */
    font-size:0.875rem; color:#fff;
}
/* -----------------------------------------네비 */
#wrap main nav {
    background-color:rgba(0,0,0,0.25);
    position:absolute;/* lnb_bg의 부모위치기준 */
    left:200px; top:0px; z-index:70;
    width:180px; height:516px; padding-top:15px;
}
#wrap main nav .gnb {}
#wrap main nav .gnb > li {}
#wrap main nav .gnb > li > a {
    padding:11px 30px; display:block;
    color:#fff; font-weight:500;
}
#wrap main nav .gnb > li:hover > a {
    background-color:#555;
}
#wrap main nav .gnb > li .lnb_bg {
    background-color:#fff; width:160px; height:516px;
    position:absolute; left:180px; top:0;
    padding:20px 30px 0 30px;
    display:none;
}
#wrap main nav .gnb > li:hover .lnb_bg {display:block;}
#wrap main nav .gnb > li .lnb_depth1 {}
#wrap main nav .gnb > li .lnb_depth1 li {margin-bottom:12px; width:max-content;}
#wrap main nav .gnb > li .lnb_depth1 li:last-child {margin-bottom:none;}
#wrap main nav .gnb > li .lnb_depth1 li a {
    padding:5px 0; display:block; height:24px;
    font-size:0.875rem; font-weight:500; color:#999;
}
#wrap main nav .gnb > li .lnb_depth1 li:hover a {
    color:#000; border-bottom:1px solid #000;
}
/* -----------------------------------------화해어워드 */
#wrap main #icon_category {
    display:flex; gap:22px; padding:50px 0;
    justify-content:center;
}
#wrap main #icon_category a {
    display:flex; flex-flow:column nowrap; gap:10px; align-items:center;
}
#wrap main #icon_category a img {}
#wrap main #icon_category a span {}
/* -----------------------------------------화해어워드 */
#wrap main #con1_award {
    padding:100px 0 100px;
}
#wrap main #con1_award .title {
    margin-left:200px; margin-right:200px;
    display:flex; gap:20px; align-items:center;
    padding-bottom:30px;
    border-bottom:1px solid #ddd;
}
#wrap main #con1_award .title h1 {
    font-size:1.875rem; line-height:1.2;
}
#wrap main #con1_award .title h1 span {
    display:block; font-size:1.25rem; color:#999;
}
#wrap main #con1_award .title h1 span em {
    font-weight:500; color:#999;
}
#wrap main #con1_award .title a {}
#wrap main #con1_award .title a img {}
#wrap main #con1_award .container {
    display:flex; justify-content:space-between;
    padding:0 200px 0; margin-top:30px;
}
#wrap main #con1_award .container .category {}
#wrap main #con1_award .container .category #year {
    outline:none;/* 검은테두리 제거 */ width:67px;
    background:url(../images/award/down_arrow.png) no-repeat 100% center;/* 가로세로위치 */
    padding:10px 0; font-size:1.063rem;
    margin-bottom:40px;
}
#wrap main #con1_award .container .category #year option {}
#wrap main #con1_award .container .category .tabG {
    display:flex; flex-flow:column nowrap; gap:32px;
}
#wrap main #con1_award .container .category .tabG .tab {
    width:max-content; height:34px;
    font-weight:500; font-size:1.188rem; color:#999;
}
#wrap main #con1_award .container .category .tabG .tab.active {
    border-bottom:4px solid #444; color:#000; 
}
#wrap main #con1_award .container .contentG {}
#wrap main #con1_award .container .contentG li {
    display:flex; gap:50px; align-items:center;
}
#wrap main #con1_award .container .contentG li > a {}
#wrap main #con1_award .container .contentG li > a img {}
#wrap main #con1_award .container .contentG .award {
    width:792px; height:422px; background-color:yellow;
}
#wrap main #con1_award .container .contentG .award .swiper-slide {
    display:flex; gap:20px; border:1px solid red;
    width:366px; height:126px;
}
#wrap main #con1_award .container .contentG .award .swiper-slide.slide1 {
    border:1px solid blue; 
}
#wrap main #con1_award .container .contentG .award .swiper-slide .product {
}
#wrap main #con1_award .container .contentG .award .swiper-slide .product img {}
#wrap main #con1_award .container .contentG .award .swiper-slide .info {
    padding:10px 10px 10px 0;
    display:flex; flex-flow:column nowrap; gap:10px;
}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .field {
    display:flex; align-items:center;
}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .field img {
    margin-right:10px;
}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .field p {
    margin-right:5px; font-size:0.75rem;
}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .field em {
    background-color:#DBF6FF; color:#3278B9;
    padding:3px 5px; font-size:0.75rem;
}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .main {
    display:flex;
}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .main p {}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .main em {}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .price {}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .price em {}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .price p {}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .bottom {
    display:flex; justify-content:space-between;
}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .bottom .review {
    display:flex; align-items:center;
}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .bottom .review img {
    width:16px; height:16px;
}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .bottom .review em {}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .bottom .review p {}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .bottom .user {}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .bottom .user .likeBtn {}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .bottom .user .cartBtn {}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .bottom .user a {
    display:inline-block; line-height:0; 
}
#wrap main #con1_award .container .contentG .award .swiper-slide .info .bottom .user a img {
    width:22px; /* 아이콘크기 다른 부분 */
}
#wrap main #con1_award .container .contentG .award .swiper-scrollbar {}
/* -----------------------------------------상단가로배너 */
#wrap main .banner {}
#wrap main .banner .bnrTop {}
#wrap main .banner .bnrTop .swiper-wrapper {}
#wrap main .banner .bnrTop .swiper-wrapper .swiper-slide {}
#wrap main .banner .bnrTop .swiper-wrapper .swiper-slide a {
    width:1520px; display:block; margin:0 auto;
}
#wrap main .banner .bnrTop .swiper-wrapper .swiper-slide a img {
    width:100%;
}
/* -----------------------------------------화해랭킹 */
#wrap main #con2_ranking {
    padding:100px 0;
}
#wrap main #con2_ranking .title {
    display:flex; justify-content:space-between;
    max-width:1360px; margin:0 auto 40px;
}
#wrap main #con2_ranking .title h1 {
    font-weight:500; font-size:1.875rem;
    line-height:1.2;
}
#wrap main #con2_ranking .title .right {
    display:flex; gap:14px; align-items:center;
}
#wrap main #con2_ranking .title .right .update {
    display:flex; gap:5px; align-items:center;
}
#wrap main #con2_ranking .title .right .update img {}
#wrap main #con2_ranking .title .right .update p {}
#wrap main #con2_ranking .title .right .tabG {}
#wrap main #con2_ranking .title .right .tabG .tab {
    display:inline-block;
    color:#999; font-weight:500; width:24px; height:24px;
    text-align:center; line-height:24px; margin-right:5px;
}
#wrap main #con2_ranking .title .right .tabG .tab:last-child {
    margin-right:none;
}
#wrap main #con2_ranking .title .right .tabG .tab.active {
    background-color:#444; border-radius: 20px; color:#fff;
}
#wrap main #con2_ranking .container {
    padding:60px 0; border-top:1px solid #ddd; border-bottom:1px solid #ddd;
    display:flex; justify-content:space-between; align-items:center;
    max-width:1360px; margin:0 auto; 
}
#wrap main #con2_ranking .container .product {
    display:flex; gap:20px; align-items:center;
}
#wrap main #con2_ranking .container .product .imgWrap {
    position:relative;
}
#wrap main #con2_ranking .container .product .imgWrap .rankingNum {
    background-color:#FF6363; color:#fff;
    width:30px; height:30px; border-bottom-right-radius:8px;
    line-height:30px; text-align:center;
    position:absolute; top:0; left:0;
}
#wrap main #con2_ranking .container .product .imgWrap img {}
#wrap main #con2_ranking .container .product .info {}
#wrap main #con2_ranking .container .product .info > * {
    margin-bottom:10px;
}
#wrap main #con2_ranking .container .product .info > *:last-child {
    margin-bottom:0;
}
#wrap main #con2_ranking .container .product .info .main {
    line-height:1.5; 
}
#wrap main #con2_ranking .container .product .info .main .brand {
    font-weight:500; color:#999;
}
#wrap main #con2_ranking .container .product .info .main .name {
    font-weight:500; color:#000;}
#wrap main #con2_ranking .container .product .info .priceWrap {
    display:flex; gap:10px; align-items:center;
}
#wrap main #con2_ranking .container .product .info .priceWrap .rate {
    font-weight:500; font-size:1.25rem;
}
#wrap main #con2_ranking .container .product .info .priceWrap .price {
    font-weight:500; font-size:1.125rem;
}
#wrap main #con2_ranking .container .product .info .user {
    display:flex; justify-content:space-between; align-items:end;
}
#wrap main #con2_ranking .container .product .info .user .left {
    display:flex; gap:2px; align-items:center;
}
#wrap main #con2_ranking .container .product .info .user .left .score {
    display:flex; gap:4px; align-items:center;
}
#wrap main #con2_ranking .container .product .info .user .left .score img {
    width:20px; height:20px;
}
#wrap main #con2_ranking .container .product .info .user .left .score p {
    font-size:0.875rem;
}
#wrap main #con2_ranking .container .product .info .user .left > p {
    color:#999; font-size:0.875rem;
}
#wrap main #con2_ranking .container .product .info .user .right {
    display:flex; gap:7px;
}
#wrap main #con2_ranking .container .product .info .user .right a {
    display:inline-block; line-height:0;
}
#wrap main #con2_ranking .container .product .info .user .right .likeBtn {}
#wrap main #con2_ranking .container .product .info .user .right .cartBtn {}
#wrap main #con2_ranking .container .product .info .user .right a img {}
#wrap main #con2_ranking .container .product .info .tagG {}
#wrap main #con2_ranking .container .product .info .tagG span {
    background-color:#FDE4FF; color:#AF3BC0;
    font-size:0.75rem; padding:5px 10px;
}
#wrap main #con2_ranking .container .ranking {}
#wrap main #con2_ranking .container .ranking a {
    margin-bottom:10px; padding:15px 20px; border-bottom:1px solid #ddd;
    display:block;
}
#wrap main #con2_ranking .container .ranking a:last-child {
    margin-bottom:0;
}
#wrap main #con2_ranking .container .ranking a:nth-child(n + 6) {
    display:none;}/* 임시:숨기기 */
#wrap main #con2_ranking .container .ranking a em {
    margin-right:10px; font-weight:500; font-size:1.125rem;
}
#wrap main #con2_ranking .container .ranking a span {font-size:1.125rem;}
#wrap main #con2_ranking .container .ranking a.active {
    background-color:#000;
}
#wrap main #con2_ranking .container .ranking a.active em {
    color:#fff; font-weight:500;
}
#wrap main #con2_ranking .container .ranking a.active span {
    color:#fff; font-weight:500;
}
/* -----------------------------------------베스트상품 */
/* -----------------------------------------기획전 */
/* -----------------------------------------혜택소개 */
/* -----------------------------------------브랜드소개 */
/* -----------------------------------------하단가로배너 */
/* .title {
    margin-left:200px; margin-right:200px;
    display:flex; gap:20px; align-items:center;
    padding-bottom:30px;
    border-bottom:1px solid #ddd;
}
h1 {font-size:1.875rem; line-height:1.2;}
h1 span {
    display:block; font-size:1.25rem; color:#999;
} */
