body, html {overflow-x:hidden;}
#wrap {/* 페이지전체묶음 */}
/* -------------------------메인배너영역 */
#wrap main {}
#wrap main .swiper {}
#wrap main #mainBnr {
    position:relative;/* custom-pagination 부모위치기준 */
}
#wrap main #mainBnr .main_bnr {
    position:relative;/* bnr_text, ad_btn_group의 부모위치기준 */ 
    width:1920px; height:516px;
}
#wrap main #mainBnr .main_bnr .swiper-wrapper {}
#wrap main #mainBnr .main_bnr .swiper-wrapper .swiper-slide {
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide1 {
    background-image:url(../images/main_banner.png);
}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide1 .bnr_text {
    position:absolute; top:102px; left:484px;
}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide1 .bnr_text em {}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide1 .bnr_text > img {
    display:block;
    margin:20px 0 40px 0;
}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide1 .bnr_text h2 {
    font-size:2.375rem; font-weight:700; line-height:1.5;
}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide1 .bnr_text > p {
    font-weight:500; font-size:1.25rem;
    line-height:1.5; letter-spacing:-0.04em;
    margin:5px 0 20px 0;
}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide1 .bnr_text span {}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide2 {background:red;}
#wrap main #mainBnr .main_bnr .swiper-wrapper .slide3 {background:yellow;}
#wrap main #mainBnr .main_bnr .ad_btn_group {
    padding:3px 11px; width:110px; height:27px;
    background-color:rgba(0,0,0,0.2);
    border-radius:20px;
    /* width:max-content; */
    display:flex; align-items:center;
    position:absolute; left:484px; bottom:103px;
    z-index:600;
    /* transform:translateY(-100%); */
}
/* 모든 스와이퍼 기본 화살표 숨기기 */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
#wrap main #mainBnr .main_bnr .ad_btn_group .swiper-button-prev {
    background-image:url(../images/icon_prev.png);
    background-repeat:no-repeat;
    background-size:contain;
    /* left:495px; top:392.5px; position:absolute; */
    width:14px; height:14px;
    margin-top:0;/* 기존 내장값 제거 */
}
#wrap main #mainBnr .main_bnr .ad_btn_group .swiper-button-next {
    background-image:url(../images/icon_next.png);
    background-repeat:no-repeat;
    background-size:contain;
    width:14px; height:14px;
    margin-top:0;/* 기존 내장값 제거 */
}
/* #wrap main  #mainBnr .main_bnr  .ad_btn_group .pause {background-image:url(../images/icon_pause.png);} */
#wrap main #mainBnr .main_bnr .ad_btn_group .pause {
    background-image:url(../images/icon_pause.png);
    background-repeat:no-repeat;
    position:absolute;
    width:50px; height:50px;
    top:50%; left:50%;
    z-index:100; 
}
#wrap main #mainBnr .main_bnr .ad_btn_group .play {
    background-image:url(../images/icon_play.png);
    background-repeat:no-repeat;
    position:absolute;
    width:30px; height:30px; 
    z-index:101;
}
#wrap main #mainBnr .custom-pagination {
    position:absolute; left:514px; bottom:106px; z-index:700;
    /* position:absolute; z-index:900;
    bottom:49px; left:50%; transform:translateX(-50%);
    font-size:0.875rem; background-color:rgba(255,255,255,0.7);
    width:82px; height:31px; border-radius:20px;
    text-align:center; line-height:31px; */
}
#wrap main #mainBnr .custom-pagination * {/* pagination의 모든 글자적용 */
    font-size:0.875rem; color:#fff;
}

